@font-face {
  font-family: 'Daehan';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff') format('woff');
}

/*폰트출처 : http://www.font.co.kr/yoonfont/free/free_daehan.asp 윤디자인*/

@font-face {
  font-family: 'Youth';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff') format('woff');
}

/*폰트출처 : https://www.kywa.or.kr/about/about08.jsp 한국청소년활동진흥원 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Daehan';
    font-weight: 700;
}

img{
    vertical-align: middle;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

